
<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <img src="logo.png" >
            <p class="logo"> SoftUni Forum</p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/themes">Themes</a>
            </li>
            <li>
                <a href="/create">New Theme</a>
            </li>
        </ul>
    </nav>

</header>
